.footer {
  margin-top: 70vh;
  text-align: center;

  @include media('xs') {
    text-align: left;
  }

  @include media('hd') {
    margin-top: 82vh;
  }

  p {
    margin: 0 auto;
    order: 2;

    @include media('xs') {
      margin-left: 0;
    }
  }

  &__social {
    margin: 0 auto;
    margin-bottom: 18px;
    order: 0;

    @include media('xs') {
      margin-bottom: 0;
      margin-left: -11px;
    }

    li {
      display: inline-block;
      @include media('xs') {
        display: block;
      }
    }
  }
}
