.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  top: 0;
  left: 8vw;
  right: 8vw;
  z-index: 10;

  &__info {
    max-width: 160px;
  }

  &__contact {
    grid-area: 1 / 5;
  }
}
