.header {
  top: 0;
  left: 8vw;
  right: 8vw;
  z-index: 10;

  &__info {
    max-width: 160px;
  }

  &__title {
    .is--end {
      text-align: center;
      display: block;

      @include media('xs') {
        text-align: left;
        display: inline-block;
      }
    }
  }
}
