.c {
  &--black {
    color: map-get($colors, 'black');
  }

  &--white {
    color: map-get($colors, 'white');
  }

  @include generateColors($colors, 'color');
}

.bg {
  &--black {
    background-color: map-get($colors, 'black');
  }

  &--white {
    background-color: map-get($colors, 'white');
  }

  @include generateColors($colors, 'background-color');
}
