.ff--sans {
  font-family: $font--primary;
}

.ff--secondary {
  font-family: $font--secondary;
}

.fw--normal {
  font-weight: 400;
}

.fw--medium {
  font-weight: 500;
}

.fs--normal {
  font-size: 1rem;
}

.fs--medium {
  font-size: 1.4rem;
}

.fs--big {
  font-size: 2rem;
}

.fs--x-big {
  font-size: 3rem;
}
